/** CREDIT: Adapted from the Code Institute Moments Tutorial Project
 * https://github.com/Code-Institute-Solutions/moments/
*/
.Avatar {
    border-radius: 50%;
    margin: 0px 8px 0px 8px;
    object-fit: cover;
  }