/** CREDIT: Adapted from the Code Institute Moments Tutorial Project
 * https://github.com/Code-Institute-Solutions/moments/
*/
.Form {
    border: none;
    border-bottom: 2px #ca037d solid;
  }
  
  .Button {
    border: none;
    background-color: #dd64c7;
    color: #ffeff8;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  
  .Button:hover {
    cursor: pointer;
    background-color: #ffeff8;
    color: #dd64c7;
  }