/** CREDIT: Adapted from the Code Institute Moments Tutorial Project
 * https://github.com/Code-Institute-Solutions/moments/
*/
.NavBar {
    background-color: #ffeff8;
    border: 1px solid #dbced6;
  }
  
  .NavLink {
    padding: 5px;
  }
  
  .Active i {
    color: #d063a6;
  }