.Post {
    background-color: #ffffff;
    border: 1px solid #dbced6;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Post figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #d063a6;
  }
  
  .Heart:hover {
    color: #ca037d;
  }
  
  .HeartOutline:hover {
    color: #d063a6;
  }

  .Pin {
    color: #d063a6;
  }
  
  .Pin:hover {
    color: #ca037d;
  }
  
  .PinOutline:hover {
    color: #d063a6;
  }